/* Headings Styles */
.cursor {
    display: inline-block;
    width: 1ch;
    background-color: transparent;
}

.line1, .line2, .line3 {
    display: block;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.1s ease-in;
}

.line1.show, .line2.show, .line3.show {
    opacity: 1;
}

.heading-style-h1-typed .line1 .cursor {
    animation: none;
}

.no-cursor .cursor {
    display: none;
}

.heading-style-h1-typed .line3 .cursor {
    animation: none;
}

/* Selection styles */
::selection {
    color: #e9e9e9;
    background-color: rgba(7, 7, 7, 0.13);
}

@media screen and (max-width: 991px) {
    * {
      --webkit-tap-highlight-color: transparent;
    }
  }
 
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
  }
  
  :root {
    --glow-hue: 0deg;
    --shadow-hue: 0deg;
    --spring-easing: cubic-bezier(0.4, 0, 0.2, 1);
    --spring-duration: 0.35s;
    --black-1-button: #131211;
    --black-tint-cards-button: rgba(19, 18, 17, 0.08);
    --black-tint-cards-button-darker: rgba(19, 18, 17, 0.5);
    --gray-2-button: #838383;
    --white-1-button: #e9e9e9;
    --white-2-button: rgba(233, 233, 233, 0.6);
    --white-3: rgba(255, 255, 255, 0.3);
    --bg: #ffffff;
    --neon-hover: rgba(255, 255, 255, 0.3);
  }

  @property --shimmer {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
  }

  @keyframes shimmer {
    0% {
      --shimmer: 0deg;
    }
    100% {
      --shimmer: 360deg;
    }
  }

  @keyframes shine {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .button-cta {
    font-family: 'Aspekta', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.1;
    text-decoration: none;
    letter-spacing: -0.5px;
    color: var(--black-1-button);
    background-color: var(--black-tint-cards-button);
    padding: 0.75rem 1.98rem 0.9rem 2.0rem;
    margin: 0.5rem auto 0 auto;
    position: relative;
    z-index: 30;
    isolation: isolate;
    box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border: 2px solid #595958;
    outline: none;
    transform: scale(1);
    transition: background-color var(--spring-duration) var(--spring-easing),
                transform var(--spring-duration) var(--spring-easing);
  }

  .button-cta:hover:not(:active),
  .button-cta.active {
    transition-duration: var(--spring-duration);
    transform: scale(1.0);
    background-color: var(--white-2-button);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  }

  .button-cta:active {
    background-color: var(--black-tint-cards-button-darker);
    transform: scale(1.00);
    outline: none;
    transition: transform 100ms ease-in, background-color 100ms ease-in;
  }

  .button-cta:active .text {
    color: var(--white-1-button) !important;
    transition: color 75ms ease-in;
  }

  .button-cta:focus {
    outline: none;
  }

  .button-cta:focus-visible {
    outline: 1px solid var(--gray-2-button);
    outline-offset: 0px;
  }

  .button-cta .shimmer {
    position: absolute;
    inset: -40px;
    border-radius: inherit;
    mask-image: conic-gradient(
      from var(--shimmer, 0deg),
      transparent 0%,
      transparent 10%,
      black 36%,
      black 45%,
      transparent 50%,
      transparent 60%,
      black 85%,
      black 95%,
      transparent 100%
    );
    mask-size: cover;
    mix-blend-mode: screen;
    animation: shimmer 1.2s linear infinite both;
    pointer-events: none;
  }

  .button-cta:hover .shimmer::before,
  .button-cta:hover .shimmer::after,
  .button-cta.active .shimmer::before,
  .button-cta.active .shimmer::after {
    opacity: 1;
    animation: shine 1.5s ease-in 1 forwards;
  }

  .button-cta .shimmer::before,
  .button-cta .shimmer::after {
    transition: all 0.35s ease;
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    mix-blend-mode: color;
    inset: 40px;
    pointer-events: none;
  }

  .button-cta .shimmer::before {
    box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 0% 95%),
      0 0 7px 4px hsl(var(--glow-hue) 0% 80%),
      0 0 13px 4px hsl(var(--glow-hue) 0% 70%),
      0 0 25px 5px hsl(var(--glow-hue) 0% 70%);
    z-index: -1;
  }

  .button-cta .shimmer::after {
    box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 0% 95%),
      inset 0 0 2px 1px hsl(var(--glow-hue) 0% 80%),
      inset 0 0 5px 2px hsl(var(--glow-hue) 0% 70%);
    z-index: 2;
  }

  .button-cta .text {
    font-family: 'Aspekta', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: -0.5px;
    color: var(--black-1-button);
    outline: none;
    transition: none;
  }

/* Responsive Adjustments */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .button-cta { padding: 0.55rem 1.82rem 0.75rem 1.8rem; }
    .button-cta .text { font-size: 1.4rem; line-height: 1.1; }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .button-cta { padding: 0.35rem 1.57rem 0.6rem 1.6rem; }
    .button-cta .text { font-size: 1.3rem; line-height: 1.1; }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .button-cta { padding: 0.30rem 1.47rem 0.532rem 1.5rem; }
    .button-cta .text { font-size: 1.25rem; line-height: 1.1; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .button-cta { padding: 0.22rem 1.2rem 0.5rem 1.2rem; }
    .button-cta .text { font-size: 1.2rem; line-height: 1.1; }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
    .button-cta { padding: 0.22rem 1.2rem 0.5rem 1.2rem; }
    .button-cta .text { font-size: 1.2rem; line-height: 1.1; }
}

@media screen and (max-width: 478px) {
    .button-cta { padding: 8px 20px 13px 20px; min-height: 44px; }
    .button-cta .text { font-size: 18px; line-height: 1; }
}